{% extends 'base.html.twig' %}

{% block title %}Create Chapter{% endblock %}

{% block body %}
    <h1>Create New Chapter</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-success">Create</button>
    {{ form_end(form) }}

    <a href="{{ path('chapter_list') }}" class="btn btn-secondary mt-3">Back to list</a>
{% endblock %}
