{% extends 'base.html.twig' %}

{% block title %}Réinitialisez votre mot de passe{% endblock %}

{% block body %}
    <div class="flex items-center justify-center min-h-screen bg-gray-50">
        <div class="bg-white p-6 rounded-lg shadow-lg w-full max-w-lg">
            {% for flash_error in app.flashes('reset_password_error') %}
                <div class="alert alert-danger text-red-500 mb-4">{{ flash_error }}</div>
            {% endfor %}
            <h1 class="text-2xl font-semibold text-center text-gray-800 mb-4">Réinitialisez votre mot de passe</h1>

            {{ form_start(requestForm) }}
                <div class="mb-4">
                    {{ form_row(requestForm.email) }}
                    <small class="text-gray-600">
                        Entrez votre adresse e-mail et nous vous enverrons un lien pour réinitialiser votre mot de passe.
                    </small>
                </div>

                <button type="submit" class="w-full bg-blue-600 text-white py-2 px-4 rounded-lg hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400">
                    Envoyer l'e-mail de réinitialisation
                </button>
            {{ form_end(requestForm) }}
        </div>
    </div>
{% endblock %}
