{% extends 'base.html.twig' %}

{% block title %}Edit Exercise{% endblock %}

{% block body %}
    <h1>Edit Exercise</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">Save Changes</button>
    {{ form_end(form) }}

    <a href="{{ path('exercise_list') }}" class="btn btn-secondary mt-3">Back to Exercise List</a>
{% endblock %}
